.bell {
    margin-top: 1rem;
}

.title > h1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin: 0;
}

.Santa, .Cozy {
    margin: 0;
    text-shadow: 0 3px 5px gray;
}

.Santa {
    color: var(--title-primary);
}

.Cozy {
    color: var(--title-secondary);
}

.wrapper {
    flex-grow: 1;
    padding: 1rem;
}

.form {
    background-color: var(--textarea-background);
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    margin: 0.5rem 0 0;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
}

.textarea {
    border: none;
    resize: none;
    padding: 0.5rem 0 0.5rem 1rem;
    border-top-left-radius: var(--radius-lg);
    border-bottom-left-radius: var(--radius-lg);
}

.textarea::placeholder {
    color: var(--text-primary);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.textarea:focus {
    outline: none;
    border: none;
}

.button {
    border: none;
    resize: none;
    background-color: var(--textarea-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
    padding: 0.5rem 2rem 0.5rem 0;
}

.vector {
    width: 22px;
    height: 22px;
    fill: var(--vector-color);
}

.vector:hover {
    filter: brightness(85%);
}