.loading-div {
    width: 8rem;
}

.loading-cozy {
    width: 100%;
    height: auto;
}

.loading-comment {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--text-muted);
}

@media (min-width: 768px) {

    .loading-div {
        width: 12rem;
    }

    .loading-comment {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {

    .loading-div {
        width: 12rem;
    }

    .loading-wrapper {
        padding-top: 8rem;
    }

    .loading-comment {
        font-size: 2rem;
    }
}

@media (min-height: 1366px) {

    .loading-div {
        width: 17rem;
    }

    .loading-wrapper {
        padding-top: 20rem;
    }

    .loading-comment {
        font-size: 2.5rem;
    }
}