{% extends 'santaCozy/base.html' %}

{% block title %}로딩 페이지{% endblock %}

{% block content %}

<main class="wrapper loading-wrapper">

    <div class="loading-div">
        {% load static %}
        <img class="loading-cozy" src="{% static 'img/movingCozy.gif' %}" alt="로딩 애니메이션">
    </div>

    <h2 class="loading-comment">코지가 고민을 읽어보고 있어요..</h2>

    <form id="loadingForm" method="POST" action="{% url 'santaCozy:result' %}">
        {% csrf_token %}
        <input type="hidden" name="worry" value="{{ worry }}">
    </form>

    <script>
        setTimeout(function() {
            document.getElementById("loadingForm").submit();
        }, 3000);
    </script>
</main>

{% endblock %}
